<div class="form-container">

     <!-- Trenutno pitanje -->
     <div *ngIf="!currentQuestion?.done" class ="quiz-card">
      <h2 class = "quiz-title">{{ currentQuestion?.text }}</h2>
  
      <div class="quiz-options">
        <button class = "quiz-options"
          *ngFor="let opt of currentQuestion?.options"
          (click)="chooseOption(opt)">
          {{ opt }}
        </button>
      </div>
    </div>
  
    <!-- Zavrsetak -->
    <div class = "quiz-card" *ngIf= "currentQuestion?.done && perfectWine == null">
      <h2 class="quiz-title">Hvala!:D </h2>
      <p class="quiz-text">Analiziram odgovore i pronalazim savrseno vino za vas…</p>
      <div class="quiz-actions">
        <button class= "primary-btn"  (click)="sendToBackend()">Posalji podatke</button>
        <button class = "secondary-btn" (click) = "resetAnswers()"> Nova porudzbina</button>
      </div> 

    </div>
    <div class="wine-card-single" *ngIf="perfectWine">

      <h2 class="wine-title">{{ perfectWine?.name }}</h2>
    
      <div class="wine-basic-info">
        <p><b>Godina:</b> {{ perfectWine?.year }}</p>
        <p><b>Boja:</b> {{ perfectWine?.wineColor }}</p>
        <p><b>Slatko/Suvo:</b> {{ perfectWine?.wineSugar }}</p>
      </div>
    
      <div class="wine-section meat">
        <h4>🥩 Meso</h4>
        <ul class="pretty-list">
          <li *ngFor="let meat of perfectWine.meatList">{{ meat.name }}</li>
        </ul>
      </div>
    
      <div class="wine-section sauce">
        <h4>🍯 Sosevi</h4>
        <ul class="pretty-list">
          <li *ngFor="let sauce of perfectWine.sauceList">{{ sauce.name }}</li>
        </ul>
      </div>
    
      <div class="wine-section spice">
        <h4>🌶 Zacini</h4>
        <ul class="pretty-list">
          <li *ngFor="let spice of perfectWine.spiceList">{{ spice.name }}</li>
        </ul>
      </div>
    
    </div>
    
  
  </div>