
/* note the added class, if you use just 'table' as the selector bootstrap will override it and collapse your table */
table.mytable {
    border-collapse: separate;
    border-spacing: 0 35px;
  }
  
  th,
  td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
  }
  
  tr {
    border-radius: 0.25rem;
    
  }  
  h3 {
    margin-top: 30px;
    margin-left: 30px;
    color: white;

  }