<div *ngIf="isLoggedIn()== true">

  <nav class="navbar navbar-dark bg-dark  " *ngIf ="getRole() == 'SYSTEM_ADMIN'" style="height: 50px;" >
    <a class="nav-item nav-link" href="#" style=" margin-left: 150px; ;color: white; font-size: small;" [routerLink]="['/wines']" routerLinkActive="router-link-active" >Vrste Vina</a>   
    <a class="nav-item nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/meats']" routerLinkActive="router-link-active" >Vrste Mesa </a>
    <a class="nav-item nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/sauces']" routerLinkActive="router-link-active" >Vrste soseva </a>
    <a class="nav-item nav-link " href="#" style=" color: white;font-size: small;" [routerLink]="['/spices']" routerLinkActive="router-link-active" > Vrste zacina </a>

    <a class="nav-item nav-link " href="#" style=" color: white;font-size: small ; margin-right: 50px;" (click)="logout()">LOGOUT</a>
  </nav>

  

</div>



<router-outlet></router-outlet>
