<div class="form-container">

    <!-- Trenutno pitanje -->
    <div *ngIf="!currentQuestion?.done" class ="quiz-card">
      <h2 class = "quiz-title">{{ currentQuestion?.text }}</h2>
  
      <div class="quiz-options">
        <button class = "quiz-options"
          *ngFor="let opt of currentQuestion?.options"
          (click)="chooseOption(opt)">
          {{ opt }}
        </button>
      </div>
    </div>
  
    <!-- Zavrsetak -->
    <div class = "quiz-card" *ngIf= "currentQuestion?.done && wineList == null">
      <h2 class="quiz-title">Hvala!:D </h2>
      <p class="quiz-text">Analiziram odgovore i pronalazim savrseno vino za vas…</p>
      <div class="quiz-actions">
        <button class= "primary-btn"  (click)="sendToBackend()">Posalji podatke</button>
        <button class = "secondary-btn" (click) = "resetAnswers()"> Nova porudzbina</button>
      </div> 

    </div>

    <div class="wine-cards-container">
      <div class="wine-card" *ngFor="let wine of wineList">
        
        <h3>{{ wine.name }}</h3>
    
        <p><b>Godina:</b> {{ wine.year }}</p>
        <p><b>Boja:</b> {{ wine.wineColor }}</p>
        <p><b>Tip:</b> {{ wine.wineSugar }}</p>
    
        <button (click)="moreDetails(wine)">
          Detalji
        </button>
      </div>
    </div>
  
  </div>
