.form-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    margin-top: 150px;
    
  }
  h2{
    color: white;
  }
  
  .options button {
    margin: 10px;
    padding: 10px 20px;
  }