
table.mytable {
    border-collapse: separate;
    border-spacing: 0 35px;
  }
  
  th,
  td {
    vertical-align: middle;
    padding: 15px;
    padding-left: 35px;
  }
  
  tr {
    border-radius: 0.25rem;
    
  }  
  h3 {
    margin-left: 30px;
    color: white;

  }
 #btn-add{
    margin-left: 870px;
 } 