<form class="row gx-3 align-items-center" method="post" action=""  #updateMeatForm ="ngForm">

    <div class="form-group">
        <label for="meatName" class="col-sm-2 col-form-label"><b>Naziv:</b></label>
        <div class=" input-container form-group col-sm-10 ">
          <input type="text" class="form-control"  id = "meatName" name ="meatName" #name = "ngModel" [(ngModel)]="meat.name" required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger" > Obavezno polje</div>
        </div>

        <label for="wineSugar" class="col-sm-4 col-form-label" style="margin-top: 30px;"><b>Nacionalna kuhinja:</b></label>
            <div class = "col-sm-4" >
                <select class="form-select form-select "name ="meatCuisine"  id = "meatCuisine" [(ngModel)]=" meat.nationalCuisine" aria-label="Small select example">
                    <option value="ITALIJANSKA">ITALIJANSKA</option>
                    <option value="AMERICKA">AMERICKA</option>
                    <option value="FRANCUSKA">FRANCUSKA</option>
                    <option value="MEKSICKA">MEKSICKA</option>
                    <option value="KINESKA">KINESKA</option>
                    <option value="INDIJSKA"> INDIJSKA</option>
                </select>
            </div>
    </div> 

    <button class="btn btn-dark btn-block " style="margin-top: 50px;"  [disabled]="!updateMeatForm.form.valid" name="updateMeat" (click)= "updateMeat()" type="submit"  >Submit</button>
</form>
