<div>
  <div class="score" *ngIf="showStars">
    <span *ngFor="let star of [1,2,3,4,5]; let i = index">
      {{ i < getStars(selectedWine.score || 0) ? '⭐' : '☆' }}
    </span>
    <div class="score-label">
      Nivo kompatibilnosti 
    </div>
  </div>
    <div class="wine-section meat">
        <h4>🥩 Meso</h4>
        <ul class="pretty-list">
          <li *ngFor="let meat of selectedWine.meatList">{{ meat.name }}</li>
        </ul>
      </div>
    
      <div class="wine-section sauce">
        <h4>🍯 Sosevi</h4>
        <ul class="pretty-list">
          <li *ngFor="let sauce of selectedWine.sauceList">{{ sauce.name }}</li>
        </ul>
      </div>
    
      <div class="wine-section spice">
        <h4>🌶 Zacini</h4>
        <ul class="pretty-list">
          <li *ngFor="let spice of selectedWine.spiceList">{{ spice.name }}</li>
        </ul>
      </div>
</div>
  