
<form class="row gx-3 align-items-center">

    <div class="form-group">
        <label for="wineName" class="col-sm-2 col-form-label"><b>Naziv:</b></label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  id = "wineName" name ="wineName" [(ngModel)]="wineDetails.name" >
        </div>
    </div>    
    <div class="form-group row" style="margin-top: 50px;">
            <label for="wineYear" class="col-sm-2 col-form-label" ><b>Godina:</b></label>
            <div class="col-sm-4">
            <input type="text" class="form-control" name = "wineYear" id = "wineYear"[(ngModel)]="wineDetails.year"  style="margin-left:-30px ;" >
            </div> 

            <label for="wineColor" class="col-sm-2 col-form-label" ><b>Boja:</b></label>
            <div class = "col-sm-4" style="margin-left:-50px ;">
                <select  class="form-select form-select " name = "wineColor"  id = "wineColor" [(ngModel)]="wineDetails.wineColor" aria-label="Small select example">
                    <option  [value]="option1">{{option1}}</option>
                    <option [value]="option2" >{{option2}}</option>
                </select>
            </div>

            <label for="wineSugar" class="col-sm-2 col-form-label" style="margin-top: 30px; margin-left: 100px;"><b>Suvo/Slatko:</b></label>
            <div class = "col-sm-5"  style=" margin-top: 30px;">
                <select class="form-select form-select "name ="wineSugar"  id = "wineSugar" [(ngModel)]=" wineDetails.wineSugar" aria-label="Small select example">
                    <option [value]="optionSugar1">{{optionSugar1}}</option>
                    <option [value]="optionSugar2">{{optionSugar2}}</option>
                </select>
            </div>
            <div class="w-100"></div>

            <label for="meatSelect" class="col-sm-1 col-form-label" style="margin-top: 30px;"><b>Meso:</b></label>
            <div class = "col-sm-4"   style=" margin-top: 30px;">
                <select class="form-select form-select "name ="meats" id = "meatSelect" [(ngModel)]="selectedMeat" aria-label="Small select example">
                    <option *ngFor=" let meat of notAddedMeats" [value]=" meat.id">{{meat.name}}</option>
                </select>
                <button  class="btn btn-success btn-sm " style="margin-left: 130px; margin-top: 5px;" (click) = "addMeat()">Dodaj</button>
            </div>

            <div class="list-group scrollable-list">
                <div *ngIf="wineDetails.meatList.length === 0" class="list-group-item">
                    Dodato meso
                </div>
                <div *ngFor="let item of wineDetails.meatList; let i = index" class="list-group-item">
                 <a> {{ item.name }} </a>
                  <button  class="btn btn-light btn-sm float-end btn-with-icon" (click) = "deleteMeat(i,item.id)">
                  </button>
                </div>
            </div>

            <label for="sauceSelect" class="col-sm-1 col-form-label" style="margin-top: 30px;margin-right: 2cm;"><b>Sosevi:</b></label>
            <div class = "col-sm-4 selectSauce"  style=" margin-top: 30px; margin-left: -70px;">
                <select class="form-select form-select "name ="sauces" id = "sauceSelect" [(ngModel)]="selectedSauce" aria-label="Small select example">
                    <option *ngFor=" let sauce of notAddedSauces" [value]=" sauce.id">{{sauce.name}}</option>
                </select>
                <button  class="btn btn-success btn-sm " style="margin-left: 125px; margin-top: 5px;" (click) = "addSauce()">Dodaj</button>
            </div>

            <div class="list-group scrollable-list" style=" margin-left: 74px">
                <div *ngIf="wineDetails.sauceList.length === 0" class="list-group-item">
                    Dodati sosevi
                </div>
                <div *ngFor="let item of wineDetails.sauceList; let i = index" class="list-group-item">
                 <a> {{ item.name }} </a>
                  <button  class="btn btn-light btn-sm float-end btn-with-icon" (click) = "deleteSauce(i,item.id)">
                  </button>
                </div>
            </div>

            <label for="spiceSelect" class="col-sm-1 col-form-label" style="margin-top: 30px;margin-right: 2cm;"><b>Zacini:</b></label>
            <div class = "col-sm-4 selectSpice" style=" margin-top: 30px; margin-left: -70px;">
                <select class="form-select form-select "name ="spices" id = spiceSelect [(ngModel)]="selectedSpice" aria-label="Small select example">
                    <option *ngFor=" let spice of notAddedSpices" [value]=" spice.id">{{spice.name}}</option>
                </select>
                <button  class="btn btn-success btn-sm " style="margin-left: 125px; margin-top: 5px;" (click) = "addSpice()">Dodaj</button>
            </div>

            <div class="list-group scrollable-list" style=" margin-left: 74px">
                <div *ngIf="wineDetails.spiceList.length === 0" class="list-group-item">
                    Dodati zacini
                </div>
                <div *ngFor="let item of wineDetails.spiceList; let i = index" class="list-group-item">
                 <a> {{ item.name }} </a>
                  <button  class="btn btn-light btn-sm float-end btn-with-icon" (click) = "deleteSpice(i,item.id)">
                  </button>
                </div>
            </div>

            <div class="d-grid gap-3 col-6 mx-auto" style="margin-right: 160px; margin-top: 40px;">
                <button  class="btn btn-warning btn-m " (click) = "updateWine()">Sacuvaj</button>
            </div>
              
    </div>
</form>    