.wine-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    height: 80vh;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

 .recipes{
    color: white;
 } 
  