<div class="filter-container">
    <form  [formGroup]="filterForm" (ngSubmit)="filterWines()" class="filter-bar">

        <h4>Filtriranje vina </h4>

        <input type="number" min="1900" formControlName="year" placeholder="Godina" />
    
        <select formControlName="wineSugar">
        <option [ngValue]="null">Slatkoća</option>
        <option *ngFor="let sugar of wineSugars"
                [ngValue]="sugar">
            {{ sugar }}
        </option>
        </select>
    
        <select formControlName="wineColor">
        <option [ngValue]="null">Boja</option>
        <option *ngFor="let color of wineColors"
                [ngValue]="color">
            {{ color }}
        </option>
        </select>
    
        <button type="submit" [disabled] = "!hasAnyFilter()">Filtriraj</button>
    </form>
</div>    

<div class="empty-state-card" *ngIf="searched && wineList.length === 0">
    <h4>Nema rezultata 🍷</h4>
    <p>
      Za odabrane kriterijume nemamo vina koja odgovaraju.
    </p>
  </div>

  <div *ngIf="wineList">
    <div class="wine-cards-container" *ngIf=" !wineList[0]?.isDessert">
      <div class="wine-card" *ngFor="let wine of wineList">
        
        <h3>{{ wine.name }}</h3>
    
        <p><b>Godina:</b> {{ wine.year }}</p>
        <p><b>Boja:</b> {{ wine.wineColor }}</p>
        <p><b>Tip:</b> {{ wine.wineSugar }}</p>
    
        <button [disabled]="isWineDisabled(wine)" (click)="moreDetails(wine)">
          Detalji
        </button>
      </div>
    </div>
  </div> 
