<div class="filter-container">
    <form  [formGroup]="filterForm" (ngSubmit)="filterWines()" class="filter-bar">

        <h4>Filtriranje vina </h4>

        <input type="number" min="1900" formControlName="year" placeholder="Godina" />
    
        <select formControlName="wineSugar">
        <option [ngValue]="null">Slatkoća</option>
        <option *ngFor="let sugar of wineSugars"
                [ngValue]="sugar">
            {{ sugar }}
        </option>
        </select>
    
        <select formControlName="wineColor">
        <option [ngValue]="null">Boja</option>
        <option *ngFor="let color of wineColors"
                [ngValue]="color">
            {{ color }}
        </option>
        </select>
    
        <button type="submit" [disabled] = "!hasAnyFilter()">Filtriraj</button>
    </form>
</div>    

<div class="container p-0 m-0" >
        
    <table class="table table-dark table-hover vw-100 vh-50 mytable ">   
        <tbody>
        <tr *ngFor= "let w of wineList">
            <td>{{w.name}}</td>
            <td>{{w.year}}</td>
            <td >{{w.wineColor}}</td>
            <td>{{w.wineSugar}}</td>
            <td class="text-end " ><button class="btn btn-warning btn-sm " (click) ="moreDetails(w)" >Detalji</button></td>
        </tr>
        </tbody>
    </table>  
</div>
